:root {
  --primary: #4f7cff;
  --secondary: #8b5cf6;

  --success: #00d084;
  --danger: #ff4d6d;

  --bg: #070b14;

  --glass-bg: rgba(255, 255, 255, 0.05);

  --glass-border: rgba(255, 255, 255, 0.1);
}